.movies-cardList {
  background-color: rgba(32, 32, 32, 1);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(360px, 319px));
  grid-gap: 32px 28px;
  justify-content: center;
  padding-top: 80px;
}

@media screen and (max-width: 1280px) {
  .movies-cardList {
    grid-template-columns: repeat(auto-fit, minmax(360px, 319px));
    grid-gap: 32px 28px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 79px;
  }
}

@media screen and (max-width: 768px) {
  .movies-cardList {
    grid-template-columns: repeat(auto-fit, minmax(342px, 309px));
    grid-gap: 24px 25px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 79px;
  }
}

@media screen and (max-width: 425px) {
  .movies-cardList {
    grid-template-columns: repeat(auto-fit, minmax(300px, 271px));
    grid-gap: 16px 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 79px;
  }
}

@media screen and (max-width: 320px) {
  .movies-cardList {
    grid-template-columns: repeat(auto-fit, minmax(300px, 271px));
    grid-gap: 16px 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 47px;
  }
}


