.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 396px;
  margin: 0 auto;
}

.form__logo {
  height: 38px;
  width: 38px;
}

.form__logo_type_auth {
  margin-top: 70px;
}

.form__field {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(66, 66, 66, 1);
  width: 396px;
  position: relative;
}

.form__request {
  font-stretch: normal;
  height: 25px;
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
  margin: 0 auto;
  text-align: center;
  display: block;
  color: rgba(238, 52, 101, 1);
}

.form__field::placeholder {
  font-size: 10px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(139, 139, 139, 1);
  opacity: 0.2;
}

.form__field-error {
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(238, 52, 101, 1);
}

.form__field-error {
  min-height: 18px;
}

.form__field_type_register {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  color: white;
  padding: 0px 0 14px 0;
}

.form__error_password {
  color: rgba(238, 52, 101, 1);
}

.form__field_type_register::placeholder {
  text-align: left;
  color: white;
}

.form__field-container {
  margin-top: 32px;
}

.form__field-label {
  margin: 0;
  font-size: 10px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(139, 139, 139, 1);
}

.form__note {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: center;
  color: rgba(139, 139, 139, 1);
  margin: 16px auto 0;
  display: flex;
  justify-content: center;
}

.form__auth-link {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.3;
  letter-spacing: 0em;
  text-align: center;
  color: rgba(66, 133, 244, 1);
  text-decoration: none;
  margin: 0;
}

.form__auth-link:hover {
  opacity: 0.8;
}

.form__submit {
  width: 100%;
  height: 45px;
  border-radius: 3px;
  background-color: rgba(66, 133, 244, 1);
  border: none;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.7;
  letter-spacing: 0em;
  text-align: center;
  color: white;
  margin-top: 0;
}

.form__submit_disable {
  background-color: rgba(248, 248, 248, 1);
  cursor: default;
  color: rgba(194, 194, 194, 1);
}

.form__submit:hover {
  opacity: 0.8;
}

.form__nav_type_register {
  margin-top: 110px;
}

.form__title {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0em;
  text-align: left;
  color: white;
  margin: 0;
  padding-top: 40px;
}

.form__fields-container {
  margin-top: 31px;
  position: relative;
}

.form__nav_type_login {
  margin-top: 180px;
}

@media screen and (max-width: 768px) {
  .form__fields-container {
    margin-top: 34px;
  }

  .form__field_type_register {
    padding: 3px 0 12px;
  }

  .form__logo_type_auth {
    margin-top: 230px;
  }
  
}

@media screen and (max-width: 500px) {
  .form {
    max-width: 300px;
  }

  .form__field {
    max-width: 300px;
  }
}

@media screen and (max-width: 375px) {
  .form__title {
    padding-top: 43px;
  }

  .form__field-container {
    margin-top: 77px;
   }

  .form {
    width: 260px;
    align-items: center;
  }

  .form__logo_type_auth {
    margin-top: 60px;
  }

  .form__field {
    width: 260px;
  }

  .form__submit {
    width: 260px;
    font-size: 12px;
  }

  .form__note {
    flex-direction: row;
    font-size: 12px;
  }

  .form__field_type_register {
    padding: 4px 0 10px;
  }

  .form__fields-container {
    margin-top: 76px;
  }

  .form__field-label {
    top: 20px;
  }

  .form__nav_type_login {
    margin-top: 270px;
  }

  .form__auth-link {
    font-size: 12px;
  }

  .form__nav_type_register {
    margin-top: 220px;
  }
}