.page__container {
  padding-right: calc( (100vw - 320px)/(1280 - 320) * (70 - 0) + 0px);
  padding-left: calc( (100vw - 320px)/(1280 - 320) * (70 - 0) + 0px);
}

@media screen and (max-width: 769px) {
  .page__container {
    padding-right: calc( (100vw - 320px)/(1280 - 320) * (107 - 0) + 0px);
    padding-left: calc( (100vw - 320px)/(1280 - 320) * (107 - 0) + 0px);
  }
}

@media screen and (max-width: 321px) {
  .page__container {
    padding-right: 18px;
    padding-left: 18px;
  }
}