.aboutMe {
  background-color: rgba(32, 32, 32, 1);
}

.aboutMe__discription {
  font-family: "Inter", Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.55;
  text-align: left;
  color: white;
  margin: 26px 0 0;
}

.aboutMe__git {
  font-family: "Inter", Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0em;
  text-align: left;
  color: white;
  margin: 99px 0 0;
}

.aboutMe__img {
  width: 270px;
  height: 327px;
  border-radius: 10px;
  object-fit: cover;
}

.aboutMe__info {
  display: flex;
  flex-direction: row;
  margin: 66px auto 0;
  justify-content: space-between;
}

.aboutMe__name {
  font-family: "Inter", Arial, sans-serif;
  font-size: 50px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: -0.04em;
  text-align: left;
  color: white;
  margin: 0;
}

.aboutMe__text {
  max-width: 600px;
}

.aboutMe__title {
  font-family: "Inter", Arial, sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: -0.04em;
  text-align: left;
  color: white;
  margin: 0;
  padding: 110px 0 23px;
  border-bottom: solid 1px rgba(218, 218, 218, 1);
}

.aboutMe__topic {
  font-family: "Inter", Arial, sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0px;
  text-align: left;
  color: white;
  margin: 18px 0 0;
}

@media screen and (max-width: 769px) {
  .aboutMe__name {
    font-size: 40px;
    line-height: 1;
  }

  .aboutMe__topic {
  font-size: 12px;
  }

  .aboutMe__discription {
    font-size: 12px;
    width: 363px;
    line-height: 1.5;
    margin: 24px 0 0;
  }

  .aboutMe__img {
    width: 255px;
    height: 307px;
  }

  .aboutMe__title {
    padding: 92px 0 23px;
  }

  .aboutMe__git {
    margin: 84px 0 0;
  }
}

@media screen and (max-width: 321px) {
  .aboutMe__info {
    display: flex;
    flex-direction: column-reverse;
    margin: 60px auto 0;
  }

  .aboutMe__title {
    font-size: 18px;
    padding: 89px 0 25px;
  }

  .aboutMe__discription {
    max-width: 292px;
    font-size: 11px;
    line-height: 1.45;
  }

  .aboutMe__name {
    font-size: 30px;
    padding-top: 45px;
  }

  .aboutMe__img {
    width: 100%;
    height: 352px;
  }

  .aboutMe__topic {
    font-size: 11px;
    margin: 24px 0 0;
  }

  .aboutMe__git {
    margin: 38px 0 0;
  }
}